*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --primary-color:#016cb9;
    --white-color:white;
    --black-color:#000000;
    --eash-color:#4f4f4f;
    --light-color:#f0eeee;
    --rose-color:#e32155;
}
body{
    position: relative;
}
.primarycolor{
    color: var(--primary-color);
    font-weight: bold;
}
.leftfload{
    float: left;
}
.leftright{
    float: right;
}
.clearfix::after{
   content: '';
   display: block;
   clear: both;
}
.tabcolor{
    color: var(--rose-color);
}
.tabcolor:hover{
    color: var(--rose-color);
}
.primarybg{
    background: var(--primary-color);
    color: var(--white-color);
    font-weight: bold;
    font-size: 16px;
}
.primarybg:hover{
    background: var(--primary-color);
    color: var(--white-color);
    font-weight: bold;
}
.w48{
    width: 46%;
}
.wid65{
    width: 65%;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
}
img{
    max-width: 100%;
    height: auto;
}





/* ================main css start================= */
.headertopleft{
  padding: 20px 0;
}
.headertopleft img{
  width: 100px;
}
.header_bottom{
    background: var(--primary-color);
    padding: 0;
}
.header_bottom a img {
    width: 141px;
}
.header-menu{}
.header-menu ul{
    margin: 0;
    padding: 13px;
}
.header-menu ul li{
    list-style: none;
}
.header-menu ul li a {
    font-size: 15px;
    font-weight: 600;
    color: var(--white-color);
    padding: 0 27px;
    transition: .5s;
}
.header-menu ul li a:first-child{
    padding-left: 0;
}
.header-menu ul li a:hover {
    color:  var(--black-color);
}
.headerright{
    position: relative;
}
.headerright::before {
    content: '';
    position: absolute;
    left: 0;
    top: -9px;
    width: 3px;
    height: 150%;
    background: var(--white-color);
}


/* drop down  */

.dropdown_link ul li{
    position: relative;
}
.header-menu ul li > .dropdownmenu {
    position: absolute;
    left: 50%;
    top: 100%;
    background: var(--white-color);
    width: 734px;
    padding: 26px;
    opacity: 0;
    z-index: 999;
    visibility: hidden;
    transition: .5s;
    transform: translateX(-50%);
}
.dropdown_link ul li::after {
    content: '';
    position: absolute;
    left: -12px;
    top: 39%;
    background: var(--primary-color);
    width: 7px;
    height: 7px;
    border-radius: 5%;
}
.header-menu ul li:hover .dropdownmenu{
    opacity: 1;
    visibility: visible;
}
.dropdown_link ul li a {
    color: var(--eash-color);
    font-size: 12px;
}

.dropdown_imge a{
   color: var(--rose-color) !important;
   padding: 0  !important;
}
.menocontct{
    margin-top: 10px;
}
.menocontct p{
    margin-bottom: 0;
}
/* mobile menu css */
.mobile_menu {
    position: absolute;
    top: 0;
    height: 100%;
    background: var(--white-color);
    z-index: 99;
    width: 76%;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}
.mobile_menuactive{
    transform: translateX(0%);
}

.mobile_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;

}
.mobile_menu ul li{
   position: relative;
  
}
.mobile_menu ul li a {
    font-size: 15px;
    font-weight: 600;
    color: var(--black-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 27px;
}
.mobilemenubaricon {
    position: absolute;
    top: 17px;
    right: 20%;
    display: none;
}
.mobilemenubaricon a {
    color: #fff;
    font-size: 20px;
}
.menuhidebtn {
    position: absolute;
    right: 18px;
    top: 13px;
    font-size: 33px;
    cursor: pointer;
}
.ekonsomoi img {
    width: 110px;
    margin-top: 14px;
    margin-left: 33px;
}
/* drop down  */
/* banner css */
.carousel_inner{
    width: 100%;
    /* overflow: hidden; */
}
.carousel_inner::after{
    content: '';
    display: block;
    clear: both;
}
.carousel_item{
    position: relative;
   float: left;
   display: none;
   width: 100%;
   margin-right: -100%;
}
.carousel_item__active,.carousel_item_pos_next{
    display: block;
}
.carousel_item_pos_next{
    left: 100%;
}

 .carousel_item_next{
     transform: translateX(-100%);
     transition: transform .5s ease-in-out;
 }
 .carousel_fade .carousel_item_pos_next{
    left: 0%;
    opacity: 0;
}
.carousel_fade .carousel_item_next{
   transform: none;
   transition: opacity .5s ease-in-out;
   opacity: 1;
}
.carousel_image{
   display: block;
   width: 100%;
}

/* banner slider */

.banner-bottom{
    padding: 50px 0;
}
.carouselt_text h2{
   color: var(--primary-color);
   font-size: 30px;
   font-weight: 600;
   margin-bottom: 85px;
}


.our_services_section{
    margin-top: 20px;
}
.our_services_section h2{
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 600;
}
.our_services_section p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 25px;
    color: var(--black-color);
}
.service_item {
    border: 3px solid var(--primary-color);
    border-radius: 35px 35px 35px 35px;
    padding: 44px;
    height: 371px;
    color: var(--eash-color);
    transition: .5s ease-in-out;
    background: var(--white-color);
}
.service_item:hover{
    background: var(--primary-color);
    color: var(--white-color);
    border: 3px solid var(--white-color);
}
.services_text h3{
    font-weight: 600;
    font-size: 22px;
}

.service_icon{
    font-size: 35px;
}
.banner-bottom{
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.banner-bottom::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 117%;
    background: #cee1ef;
    left: 0;
    top: 120px;
    z-index: -1;
    border-radius: 1% 126% 0 0;
}
.apply_now_section{
    background: var(--primary-color);
    padding: 30px 0;
}
h2.apply_text {
    color: var(--white-color);
    font-weight: bold;
}
a.btn.btn-info {
    color: var(--black-color);
    font-size: 20px;
    font-weight: 600;
    background: var(--white-color);
    padding: 10px 26px;
    transition: .5s;
}
a.btn.btn-info:hover{
  transform: scale(1.2);
}

.choose_heading{
    font-weight: 600;
    margin-top: 30px;
}
.choose_item {
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    padding: 30px 11px 0 11px;
    height: 371px;
    background: var(--white-color);
    color: var(--eash-color);
}
.choose_icon {
    font-size: 51px;
    color: var(--primary-color) !important;
}
.chooses_text{
    
}
.chooses_text h2{
    font-size: 20px;
    color: #73c3e5 !important;
    font-weight: 600;
}
.choosecswith {
    width: 29%;
}
.choose_us_section{
   
    background: var(--primary-color);
    /* clip-path: polygon(27% 12%, 70% 13%, 100% 0, 100% 100%, 73% 88%, 29% 88%, 0 100%, 0 1%); */
}
svg{
    fill: #fff;
   
}
.w20{
    width: 20%;
}
.svgbottom{
    transform: rotate(180deg);
}
.counter_section{
    background: var(--primary-color);
    padding: 20px 0;
}
.owl-item {
    margin-right: 33px;
}
.counter h2 {
    font-weight: 700;
}
.counter h4 {
    font-size: 20px;
}
.counter{
    border-right: 2px solid var(--white-color);
}
.lastborder{
    border-right: 0px  solid var(--white-color);
}
.people_say_top_content h2,.news_slid h2{
    color: var(--primary-color);
    font-weight: 700;
    letter-spacing: 2px;
}
/* .slider_imge_div{
    float: left;
   
    margin-right: 2px;
}
.slider_imge_div::after{
    content: '';
    display: block;
    clear: both;
}
.showSlide {  
    display: none;
}  
.showSlide img {
    width: 100%;
    height: 300px;
} 
.slidercontainer {  
    position: relative;  
    margin: auto;  
}  
.left, .right {
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    transform: translateY(-96%);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}  
a.left {
    left: 0;
}
.right {  
    right: 0;  
    border-radius: 3px 0 0 3px;  
}  
    .left:hover, .right:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
.content {
    padding: 8px 12px;  
    width: 100%;  
    text-align: center;  
    font-weight: bold;
}  
.active {  
    background-color: #717171;  
}   */


/* Fading animation */  
/* .fade {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
} 
.fade:not(.show) {
    opacity: 1;
} 
@-webkit-keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}   */



/* sam page css start */
.image_gellery{
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}
.image_gellery a{
    background: var(--white-color);
    transition: .5s;
    width: 200px;
}
.image_gellery a:hover {
    box-shadow: 0px 0px 6px rgb(115 115 115 / 80%);
}
.image_gellery img{
    transform-origin: left;
}
.image_gellery a:hover img {
  
    transform: translateX(-10px);
    transform: rotateY(-20deg);
    transition: .5s;
}
/* sam page css end */

/* corporate page css start*/
.corpo_gellery{
    justify-content: inherit;
    margin-right: 10px;
}
.corpo_gellery a {
    width: 191px;
    margin-right: 10px;
}

.collapsetext{
    color:var(--white-color);
    font-size: 16px;
    
}
.collapsetext:hover{
    color:var(--white-color);
}
/* corporate page css start*/


/* tab css start */
.tabhead{
    background:#f1f1f1;
    color: var(--black-color) !important;
    padding: 0;
  }
  .tabhead ul{
    position: relative;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
  }
  .tabhead ul li {
    position: relative;
    flex: 1 1 auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tabhead ul li a {
    display: block;
    padding: 20px 10px;
    transition: .5s;
    text-align: center;
    font-weight: 600;
    color: #fff;
    margin-left: -4px;
    text-decoration: none;
}

  .tabcontent {
    position: relative;
  }
  
  .tab1 {
    display: none;
    width: 100%;
  }
  ul.financialimg img{
     width: 150px;
  }
/* tab css end */
/* sustainable-finance css start */
.lonepricing{
    padding: 60px 30px 219px 30px;
        background-image: url(https://ml8ssnmwln5u.i.optimole.com/jNjDsBk-UVq_vnI2/w:auto/h:auto/q:75/https://bd.finance/wp-content/uploads/2021/10/toppng.com-reen-wave-shape-1871x394-1.png);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 20px 20px 40px 0px rgb(0 0 0 / 10%);
        
}
ul.loanpricelist{
    list-style: none;
}
ul.loanpricelist li{
    position: relative;
}
ul.loanpricelist li::before {
    content: '\f1bb';
    position: absolute;
    font-family: 'font awesome 5 free';
    font-weight: 600;
    left: -22px;
    top: 0px;
    color: #1cf196;
}
.lonepricing:hover li, .lonepricing:hover h4 {
    color:#c9c9c9 ;
}
.csrcontent{
    box-shadow: 3px 20px 40px 18px rgb(0 0 0 / 10%);
    padding: 15px;
    border-radius: 5px;
    position: relative;
}
.csrcontent::before {
    content: '';
    position: absolute;
    right: 0;
    top: -2%;
    background: var(--primary-color);
    height: 19px;
    width: 80%;
}

.stm_iconboc {
    display: flex;
    margin-bottom: 30px;
}
.iconleft img {
    width: 65px;
}
.icontextright {
    width: 83%;
}
.iconleft {
    width: 15%;
    margin-right: 17px;
}
.missbanner{
    background: url('/asset/img/MISSION-VISION-AND-VALUES-1.png') center center no-repeat;
    background-size: cover;
    height: 300px;
}
.bannbtnac{
    font-size: 12px;
    box-shadow: 0px 2px 2px rgba(115, 115, 115, 0.8);
    padding: 15px;
}

.achievement-section{
    background: var(--light-color);
    padding: 100px 0;
}
.ourjourneycontent{
    position: relative;
}
.ourjourneycontent::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    height: 104%;
    width: 3px;
    z-index: -1;
    background: var(--light-color);
    transform: translateX(-8px);
}
.ourjurradi{
    position: relative;
}
.ourjurradi::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #ddd;
    border-radius: 50%;
    top: -34px;
    left: 50%;
    transform: translateX(-16px);
}
.ourjurradi::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #ddd;
    border-radius: 50%;
    bottom: -34px;
    left: 50%;
    transform: translateX(-16px);
}
.ourjourneyitem{
    margin-top: 20px;
}
.ourjourneyleft{
   width: 45%;
   border-right: 2px solid var(--primary-color);
}
.ourjourneyleft, .ourjourneyright {
    width: 45%;
    padding: 13px;
    background: #fff9ed;
    margin-top: 7px;
    border-radius: 10px;
    position: relative;
}
.ourjurstyle {
    width: 45%;
    padding: 13px;
    margin-top: 7px;
    border-radius: 10px;
    position: relative;
}
.ourjourneycenter{
    width: 7%;
    text-align: center;
    margin: 0 10px;
}
.ourjourneycenter span {
    display: block;
    height: 63px;
    width: 63px;
    background: var(--primary-color);
    border: 7px solid var(--light-color);
    border-radius: 50%;
    line-height: 46px;
    text-align: center;
    margin: auto;
}
.ourjourneycenter span img {
    background: var(--white-color);
    width: 40px;
    border-radius: 50%;
    padding: 5px;
}
.ourjourneyright{
    width: 45%;
    border-left: 2px solid var(--primary-color);
    position: relative;
}
.ourjourneyright::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -7px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 13px 10px 0;
    border-color: transparent #6980fe transparent transparent;
    transform: translate(-50%, -50%);
}
.ourjourneyleft::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -19px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 10px 13px;
    border-color: transparent transparent transparent #6980fe;
    transform: translate(-50%, -50%);
}
.tabgallerycontent ul{
    list-style: none;
}
.tabgallerycontent ul li{
    display: inline-block;
    width: 239px;
    /* height: 258px; */
    margin: 10px 5px 0 5px;
}
.tabgallerycontent ul li a{
    position: relative;
    overflow: hidden;
}
.tabgallerycontent ul li a img{
    position: relative; 
    width: 100%; top: 50%; 
    height: auto;
}
.tabgallerycontent ul li a img ~ figure{
   position: absolute;
   left:0;
   top: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   color: var(--white-color);
   background:#016cb980;
   transform: translate(-100% , 0%);
   transition: .5s;
   
}
li.biodatashow {
    
    transition: .5s;
}
li.biodatashow.biodatashowdetails {
    height: 600px;
   
}
.loadmorebtn button {
    background: var(--primary-color);
    color: var(--light-color);
    padding: 10px 29px;
    border: none;
    outline: none;
    font-weight: 800;
}
.tabgallerycontent ul li a:hover figure{
    transform: translate(0%);
}
.newsandmedia{}
.nsmeitems {
    position: relative;
    border: 11px solid #ddd;
    border-radius: 5px;
}
.nsmeitems::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2a23236b;
}
.justifyntaround {
    justify-content: space-around!important;
}
.newsandmedia{
    /* height: 300px; */
    margin-top: 20px;
}
/* .timeline {
    position: absolute;
    right: -48px;
    height: 100%;
    border: 1px solid;
    top: 0;
} */
/* .timeline{
    height: calc(100% -100px);
} */

/* .timeline::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #00ffe7;
    bottom: -4px;
    left: -9px;
    border-radius: 50%;
}
.timeline::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #00ffe7;
    top: -4px;
    left: -9px;
    border-radius: 50%;
} */
/* .nsmeandgelright::before{
    content: '';
    position: absolute;
    top: 45px;
    right: -31px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11.5px 0 11.5px 20px;
    border-color: transparent transparent transparent #cbd6d6;
}
.nsmeandgelleft::before{
    content: '';
    position: absolute;
    bottom: 45px;
    left: -31px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11.5px 20px 11.5px 0;
    border-color: transparent #cbd6d6 transparent transparent
} */
.articalimg img {
    height: 326px;
}
.articalimg h2 {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    padding: 16px;
    line-height: 27px;
    color: #fff;
    z-index: 99;
}
.articalconternt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 16px;
   
    color: #fff;
    z-index: 9;
    transform: translatey(-58px);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}
.nsmeitems:hover .articalconternt{
    transform: translatey(0);
    opacity: 1;
    visibility: visible;
}
.articalconternt p{}
/* sustainable-finance css end */

/* ==========================================carouser =========================================*/
.prod-slider-container {
    position: relative;
    font-family: font-awesome;
  }
  .owl-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 89px;
}

.owl-theme .owl-controls .owl-buttons div{
    background: none !important;
}
  .owl-prev,
  .owl-next {
    position: absolute;
  }
  i.fa {
    cursor: pointer;
    position: absolute;
    font-size: 36px;
    padding-top: 13px;
    height: 72px;
    width: 72px;
    /* color: rgba(0, 0, 0, .5); */
    background: rgb(7 7 8 / 70%);
    border-radius: 50%;
    /* display: table-cell; */
    line-height: 50px;
}
.slider_imge_div img {
    height: 300px;
    width: 100%;
}
  .owl-prev,
  .owl-next {
    background-color: transparent;
    border: 0px none transparent;
    width: 0px;
    height: 0px;
  }
  .owl-perv {
    left: 0;
  }
  .owl-next {
    right: 72px;
  }

/* ==========================================carouser =========================================*/
/* footer */
.footersection{
    background: var(--light-color);
}
.right_lo_text {
    float: right;
    width: 85%;
    font-weight: bold;
    line-height: 27px;
    font-size: 15px;
}
.icon_left {
    float: left;
    color: var(--primary-color);
    font-size: 25px;
    width: 15%;
}
.contact_info::after{
   content: '';
   display: block;
   clear: both;
}
.footer_titile h3 {
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
}
.contact_social{

}
.contact_social span {
    font-size: 31px;
    padding: 10px;
    border-radius: 5px;
    color: var(--white-color);
}
.contact_social span i{
    padding: 10px;
    border-radius: 5px;
}
.contact_social span i.fa-facebook {
    background: #3b5998;
   
}
.contact_social span i.fa-linkedin {
    background: #0077b5;
  
}
.contact_social span i.fa-youtube {
    background: #cd201f;
    
}
.quick_link a{
    display: block;
    font-size: 17px;
}
.google_map {
    overflow: hidden;
}
.footer-bottom{
    background: var(--primary-color);
}


